h2 {
  color: #aa2824;
  text-align: center;
}

.box, .mat-elevation-z4, .ng-star-inserted {
  color: black !important;
}

.example-section {
  margin: 12px 0;
}

.box {
  display: flex;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  flex-direction: column;
}

.h2 {
  color: #aa2824 !important;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

h4 {
  margin: 8px;
}


