<h2>Benvenuti nella intranet</h2>

<div class="row">
  <div class="column">
    <h3>ODG - DDS - Archivio</h3>
    <br>
    <div class="example-ripple-container mat-elevation-z4 colorVVF" matRipple routerLink="odg">
      <img src="assets/logo_bg.png" width="auto" height="120px">
      <b style="line-height: 0px">O.D.G. - Ordini Del Giorno</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4" matRipple routerLink="dds">
      <img src="assets/logo_bg.png" width="auto" height="120px">
      <b style="line-height: 0px">D.D.S. - Disposizioni Di Servizio</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4 colorVVF" matRipple routerLink="archivio">
      <img src="assets/logo_bg.png" width="auto" height="120px">
      <b style="line-height: 0px">Archivio</b>
    </div>
  </div>
  <div class="column">
    <h3>Utilità</h3>
    <br>
    <div class="example-ripple-container mat-elevation-z4" matRipple routerLink="numeri_interni">
      <mat-icon class="icon-display" aria-hidden="true" aria-label="Example home icon" fontIcon="contact_phone"></mat-icon>
      <b style="line-height: 0px">Numeri telefonici Interni</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4 colorVVF" matRipple routerLink="nbcr">
      <img src="assets/logo_bg.png" width="auto" height="120px">
      <b style="line-height: 0px">Nucleo NBCR</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4" matRipple routerLink="link">
      <mat-icon class="icon-display" aria-hidden="true" aria-label="Example home icon" fontIcon="link"></mat-icon>
      <b style="line-height: 0px">Sezione Link</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4 colorVVF" matRipple routerLink="covid">
      <img src="assets/logo_bg.png" width="auto" height="120px">
      <b style="line-height: 0px">Covid 19 - Filmato</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4" matRipple routerLink="numeri_servizio_informatico">
      <mat-icon class="icon-display" aria-hidden="true" aria-label="Example home icon" fontIcon="contact_phone"></mat-icon>
      <b style="line-height: 0px">Numeri telefonici Servizio Informatico</b>
    </div>
  </div>
  <div class="column">
    <h3>Modelli - Orari - Transiti </h3>
    <br>
    <div class="example-ripple-container mat-elevation-z4 colorVVF" matRipple onclick="location.href='https:\\sipecinfo.dipvvf.it';">
      <mat-icon class="icon-display" aria-hidden="true" aria-label="Example home icon" fontIcon="transfer_within_a_station"></mat-icon>
      <b style="line-height: 0px">Consultazione Transiti</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4" matRipple routerLink="modelli_documenti">
      <mat-icon class="icon-display" aria-hidden="true" aria-label="Example home icon" fontIcon="library_books"></mat-icon>
      <b style="line-height: 0px">Modelli Documenti</b>
    </div>
    <br>
    <div class="example-ripple-container mat-elevation-z4 colorVVF" matRipple routerLink="orari">
      <mat-icon class="icon-display" aria-hidden="true" aria-label="Example home icon" fontIcon="access_time"></mat-icon>
      <b style="line-height: 0px">Orario Funzionari</b>
    </div>
  </div>
</div>


<!--In this page we will put the content of each intranet page dinamically-->
