<h2>O.D.G. Ordini Del Giorno</h2>
<br>
<br>

<!--
<mat-paginator [length]="100"
              [pageSize]="20"
              [pageSizeOptions]="[20, 40, 60, 80, 100]"
              aria-label="Select page"
              class="center_odg">
</mat-paginator>

<mat-list role="list" class="center_odg">
  <mat-list-item *ngFor="let odg of odg">
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>{{odg.name}}</div>
  </mat-list-item>
</mat-list>
-->


<input type="file" class="file-upload" (change)="onFileSelected($event)">

<div class="example-button-row">
  <button mat-flat-button disabled="{{disabled}}">Carica odg</button>
</div>





