<mat-drawer-container class="example-container" autosize>
    <mat-drawer mode="side" opened>
      <h2>{{title}}</h2>
      <br>
  
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="padding-left-5">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <div class="example-button-row">
            <button mat-flat-button style="font-size: 15px;" (click)="onClick(this.node)">{{node.name}}</button>
          </div>
  
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </mat-drawer>
    
    <!-- Page content -->
    <mat-drawer-content >
      <div class="content-text {{class}}"> {{text}} </div>
      <br>
      <br>
      <div *ngIf="openMenu">  
      <generic-office></generic-office>
    </div>
    </mat-drawer-content>
  
  </mat-drawer-container>