<mat-card>
  <mat-card-header>
    <div class="container">
      <span class="element">Referenti ufficio: {{ referenti }}</span>
      <span class="element">Contatti ufficio: {{ contatti }}</span>
    </div>
  </mat-card-header>
  
  <mat-card-content>
  <mat-card-actions class="right-align">   
   
      <mat-form-field class="example-full-width">
        <input  matInput [formControl]="search">
        <mat-icon matSuffix>search</mat-icon>
       <!--  <mat-hint>Errors appear instantly!</mat-hint>
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        } -->
      </mat-form-field>
  </mat-card-actions>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
    
    <!-- Position Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data caric. </th>
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome modulo </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="descrizione">
      <th mat-header-cell *matHeaderCellDef> Descrizione </th>
      <td mat-cell *matCellDef="let element"> {{element.descrizione}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="allegato">
      <th mat-header-cell *matHeaderCellDef> Allegato </th>
      <td mat-cell *matCellDef="let element"> {{element.allegato}} </td>
    </ng-container>
     <!-- Symbol Column -->
     <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card-content>
<mat-card-footer class="right-align">
  <button mat-fab color="warn" (click)="openDialog('0ms', '0ms')">
    <mat-icon>add</mat-icon>
  </button>
</mat-card-footer>

</mat-card>