<form class="example-form" [formGroup]="form">
  <mat-label *ngIf="verifyLogin()">
    Le credenziali inserite non risultano corrette. Riprova.</mat-label>

    <mat-label *ngIf="verifyRegistr()"> Utente non registrato, inserisci area di appartenenza</mat-label>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput value="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
    <div *ngIf="!userPayload || verifyLogin() ; else template_reg">      
      <button (click)="submit()">LOGIN</button>
    </div>
  <ng-template #template_reg>    
    <mat-form-field>
      <mat-label>AREA DI APPARTENENZA</mat-label>
      <mat-select formControlName="userArea">
        <mat-option *ngFor="let area of areeAppart" [value]="area">{{ area }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="register()">REGISTRA UTENTE</button>
</ng-template>
</form>