  
  <form class="example-form" [formGroup]="form">
  <mat-label *ngIf="this.responseLogin === this.error_credential.toString()"> 
    Le credenziali inserite non risultano corrette. Riprova.</mat-label>
    <mat-label *ngIf="this.responseLogin === this.not_registered.toString()"> 
      Utente non registrato, inserisci area di appartenenza</mat-label>
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput value="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
    <mat-form-field *ngIf="this.responseLogin === this.not_registered.toString()">
      <mat-label>AREA DI APPARTENENZA</mat-label>
      <mat-select formControlName="userArea">
        <mat-option *ngFor="let area of areeAppart" [value]="area">{{ area }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click) ="submit(responseLogin)">submit</button>
  </form>
<!-- <div *ngIf="loginCorrect"> -->
 <!-- <h1>LOGIN EFFETTUATO</h1>
 <h3>UTENTE {{user.nome}} {{user.cognome}}</h3> -->
<!--   </div> -->