.orient-fields {
    display: flex;
    flex-direction: column;
}

.orient-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    padding-top:10px;
}

.space-fields {
    margin-bottom: 12px;
}